* {
	box-sizing: border-box;
	/* border: 1px solid !important; */
}

/* .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	grid-template-areas:
		'header   header   header  '
		'about    about    about   '
		'projects projects projects'
		'contact  contact  contact '
		'footer   footer   footer  ';

} */

/* Layout for Mobile view */
.wrapper {
	margin: 0;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 100vw;
	gap: 0px;
	grid-template-rows: 44px 50vh 40vh 40vh 30px ;
	grid-template-areas:
		'header  '
		'about   '
		'projects'
		'contact '
		'footer  ';
}



header {
	background-color: gray;
}
#about {
	background-color: beige;
}
#projects {
	
	background-color: brown;
}
#contact {
	background-color: orange;
}
footer {
	background-color: gray;
}





/* Placeholder stying */





header {
	background-color: gray;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
}
header h1 {
	font-size: 36px
}
header nav {
	display: flex;
	display: none;
}
#hamburger {
	font-size: 30px;
}
footer {
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer nav ul{
	display: flex;
}
nav ul li {
	margin: 5px;
}

/* Slider container */
.slider {
	padding: 0px 40px 0px 40px;
	display:flex;
	gap: 40px;
	justify-content: flex-start;
	/* Scrolling behavior */
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	/* scroll-padding: 50%; */

	/* TODO 
		default behavior for a scrolling slider
		is for the slide to page to load with the 
		first slide aligned to the left.
		Want to turn this into an infinite carousel
		Use jQuery to shift items to the beginnig or end of the list

		Implement snapping so that the view is always of a full slide
		centered with partial slides to the left and right

		Implement transitions so that the left and right partial slides are faded
		to do this, the app will need to be aware of the focus.
		Maybe it can be done w/ a semi-transparent overlay...

		scrolling behavior will need to be removed replaced with a flexwrap
		layout for larger screens
	
		implement a function to set the initial scroll position so that 2 way scrolling
		is possible


	*/


}




/* Project Card */
/* TODO implement card import from gSheet via jQuery */
/* TODO implement snapping behavior and implement infinite carousel behavior */


.placeholder-project-card {
	scroll-snap-align: center;
	flex-shrink: 0;
	margin: 0 auto;

	/* Start with fixed width, see if we can make it repsonsive */
	/* width: 100%; */
	width: 80vw;
	
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;;
}
.placeholder-project-card .project-thumbnail {
	margin: 20px;
	width: 100%;
	height:250px;
	background-color: rgba(255,255,255);
	box-shadow: 0 0 10px 3px black;
	border-radius: 10px;
	background-size: contain;
}
.placeholder-project-card .button-group {
	display:flex;
	justify-content: center;
}
.placeholder-project-card .button-group button{
	background-color: transparent;
	box-shadow: none;
	border: 0px;
	border-left: 3px solid black;
	border-right: 3px solid black;
	font-size: 1.5em;
	width: 75px

}
.placeholder-project-card .button-group button:hover {
	color: tomato;
}
.placeholder-project-card .button-group button:first-of-type{
	border-right: 0;
}





/* Define all grid areas */
header {
	grid-area: header;
}
section#about {
	grid-area: about;
}
section#projects {
	grid-area: projects;
}
section#contact {
	grid-area: contact
}
footer {
	grid-area: footer;
}

/* Adjustments for Tablet view */

@media screen and (min-width: 768px){
	/* TODO: remove the following once working well */
	header {
		background: yellowgreen;
	}



}
	
}